* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: darkseagreen;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 15px;
}


nav ul a{
    text-decoration: none;
    color: black;
}

.hero {
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: bisque;
    border-radius: 15px;
    justify-content: space-between;
    height: 350px;
}

.hero-left-section {
    width: 50%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px;
    padding: 15px;
    background-color: rgb(182, 30, 30);
}

.hero-demo {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.hero-right-section {
    display: flex;
    margin: 15px;
    background-color: aqua;
    width: 50%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.hero-right-section img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.div-contenedor {
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: bisque;
    border-radius: 15px;
    flex-direction: column;
    height: 300px;
}

.div-contenedor h1 {
    margin: 15px;
}


.div-features {
    display: flex;
    height: calc(100% - 30px);
    justify-content: space-between;
    margin: 15px;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
}

.div-features div {
    width: 30%;
    height: 100%;
    background-color: rgb(182, 30, 30);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-pricing {
    display: flex;
    height: calc(100% - 30px);
    justify-content: space-between;
    margin: 15px;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
}

.plan {
    width: 45%;
    height: 100%;
    background-color: rgb(182, 30, 30);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pricing-button {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 15px;
}

.demo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-contenedor-demo {
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: bisque;
    border-radius: 15px;
    flex-direction: column;
    height: 150px;
}

.div-contenedor-demo button {
    margin-top: auto;
    width: 60px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.div-contenedor2 {
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: bisque;
    border-radius: 15px;
    flex-direction: column;
    height: 200px;
}

.div-contenedor2 h1, p {
    margin: 15px;
}

footer {
    text-align: center;
    background: darkseagreen;
    color: black;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}